<header class="header header--default">
    <div class="header-container">
        <div class="header-search__form js-release-search-wrapper">
            <div class="text-left">
                <h1>covid_app</h1>
                <form action="/extremum" method="POST">
                    <p>countries:<input type="text" name="countries"></p>

                    <div>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio1" value="1" />
                        <label class="form-check-label" for="inlineRadio1">1</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio2" value="2" />
                        <label class="form-check-label" for="inlineRadio2">2</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio3" value="3" />
                        <label class="form-check-label" for="inlineRadio3">3</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio1" value="4" />
                        <label class="form-check-label" for="inlineRadio1">4</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio2" value="5" />
                        <label class="form-check-label" for="inlineRadio2">5</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio3" value="6" />
                        <label class="form-check-label" for="inlineRadio3">6</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio3" value="7" />
                        <label class="form-check-label" for="inlineRadio3">7</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio1" value="8" />
                        <label class="form-check-label" for="inlineRadio1">8</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio2" value="9" />
                        <label class="form-check-label" for="inlineRadio2">9</label>
                        <input class="form-check-input" type="radio" name="extremum" id="inlineRadio3" value="10" />
                        <label class="form-check-label" for="inlineRadio3">10</label>
                    </div>

                    <button type="submit">送信</button>
                </form>
                <div class="search_result">
                    <img src="data:image/png;base64,{{ img1 }}" />
                </div>
                <form action="/">
                    <button type="submit">前のページに戻る</button>
                </form>
            </div>
        </div>
    </div>
</header>
